* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 500ms ease-in-out;
}

body {
	font-family: sans-serif;
}


a {
	text-decoration: none;
}

.theme {
	--color1: #2a9dd7;
	--color2: #38eed5;
	--color3: #ca2ca5;
	--color4: #b6312f;
	--color5: #ffcf3f;
	--color6: #4ecd70;
	--color7: #98faff;
	--color8: #00989f;
	--white: #ffffff;
	--whiteTint1: #c8c8c8e1;
	--black: #000000;
	--blackTint1: #aaaaaa;
}


